---
---

//@import "reset";
@import "config";

body {
	color: $color-font;
	background: $color-bg;
	font-family: 'Ubuntu Mono', ;
	font-size: 100%;
	font-weight: 400;
}
h1 {
	font-size: $size-h1;
	margin-bottom: 5px;
}
h2 {
	font-size: $size-h2;
}
h3 {
	font-size: $size-h3;
}
p {
	font-size: $size-p;
	line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	 background-color: $color-grey;
	 text-decoration: none;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
blockquote {
  color: $color-font;
  border-left: 4px solid $color-font;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

.wrapper {
	max-width: $site-width;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		color: $color-title;
		font-size: $size-title;
	}
	ul {
		li {
			font-size: $size-nav;
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}
}

.blog {
	padding-bottom: 30px;

	ul, li {
		font-size: $size-p;
		padding: 5px 0;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {
			font-size: $size-back;
		}
	}
	&__title {
		display: block;
		h1 {
			display: inline-block;
			text-decoration: none;
			border-bottom: 2px solid $color-font;
		}
	}
	&__date {
		p {
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 20px;

		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: $size-p;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
	}
}

.about {
	&__back {
		a {
			font-size: $size-back;
		}
	}
	&__content {
		margin-top: 20px;
	}
}
